/*--------------
estilo global
-------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,200&family=Mulish:ital,wght@0,300;0,400;1,200&family=Oswald:wght@200;600&family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,200&family=Mulish:ital,wght@0,300;0,400;1,200&family=Oswald:wght@200;600&family=Roboto:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(181, 172, 172);
    box-sizing: border-box;
}
/*--------------
estilo Encabezado
-------------*/
header{
    box-sizing: border-box;
    background:#4682b4;
    padding: 35px ;
    width: 100%;
    height: 140px;
    position: relative;
}
h1{
    color: azure;
    font-size: 46px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}
.logo{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius:200%;
    margin-left: 200px;
    margin-top: 10px;
    bottom: 20px;
}
/*--------------
estilo contenido
-------------*/
.contenido{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

img{
    float: right;
    position: relative;
    width: 320px;
    height: 320px;
    border-radius: 50%;
   padding-left: 50px;
}
p{
    font-size: 26px;
    text-align: justify;
    padding: 70px;
    font-family: 'Oswald', sans-serif;
}

/*--------------
estilo menu
-------------*/

.menu {
    height: 90px;  
    background-color:#4682b4;
    list-style: none;
    padding: 60px;
    text-align: center;
    margin-bottom: 100px;
}
ul li{
 display: inline-block;
}
ul a{
    text-decoration: none;
    color: #dcdce9;
    text-align: left;
    background-color: #4e4e51;
    padding: 10px 16px;
    border-radius: 5px;
    opacity: 0.8;
    font-size: 26px;
    display: inline-block;
    margin: 4px;
    line-height: 1;
    outline: none;
    transition: 0.2s ease;
    font-family: 'Mulish', sans-serif;
}

ul li a.activo{
    background: rgb(8, 4, 42);
    transform: none;
}

ul li a:hover{
    opacity: 1;
}
.form-basico {
    max-width: 640px;
    margin: 0 auto;
    padding: 55px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    font: bold 14px sans-serif;
    text-align: center;
}

.form-basico .entrada label {
    display: inline-block;
    box-sizing: border-box;
    color: #5F5F5F;
    width: 180px;
    text-align: left;
    vertical-align: top;
    padding: 12px 25px;
}

.form-basico input[type=text],
.form-basico input[type=email], 
.form-basico input[type=password]{
    color: #5f5f5f;
    box-sizing: border-box;
    width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(37, 26, 110, 0.08);
    padding: 12px;
    border: 1px solid #dbdbdb;
}

.form-basico input[type=radio],
.form-basico input[type=checkbox] {
    box-shadow: none;
    width: auto;
}

.form-basico input[type=checkbox] {
    margin-top: 13px;
}

.form-basico select {
    background-color: #ffffff;
    color: #5f5f5f;
    box-sizing: border-box;
    max-width: 240px;
    width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 8px;
    border: 1px solid #dbdbdb;
}

.form-basico textarea {
    color: #5f5f5f;
    box-sizing: border-box;
    width: 240px;
    height: 100px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    font: normal 13px sans-serif;
    padding: 12px;
    border: 1px solid #dbdbdb;
    resize: vertical;
}